<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Blog's name</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Авторизоваться</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Создать аккаунт</a>
                </li>
            </ul>
        </div>
        <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="">
                <button class="btn btn-light" type="submit"></button>
        </form>
    </div>
</nav>